html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #141414;
}

canvas {
  display: block;
  cursor: none;
  border-radius: 0.4rem;
}

.button_container {
  display: flex;
  margin-top: 0.5rem;
  justify-content: center;
  gap: 1rem
}

button {
  background-color: #3b3b3b;
  border-style: none;
  color: #DADADA;
  padding: 0.3rem;
  border-radius: 0.1rem;
}

button:hover {
  cursor: pointer;
  background-color: #353535;
}
